# Mac OS X files
.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# vim files
*.swp
*.swo

# Temp files

/tmp/
/user_data.txt
/update.log
/logs
/mssql-data
/docker-compose.yml
/__debug_bin.exe
/__debug_bin.exe2183097996
/__debug_bin3137717925.exe
/__debug_bin3409265428.exe
/us.csv